<div class="container" ng-controller="itemController">
  <div class="row"></div>
  <div class="row">
    <h1> Shopping List App</h1>
  </div>

  <button class="btn btn-primary">Add List Item</button>

  <div class="row">
    <h1> Items List </h1>
  </div>
  <div ng-repeat="item in items | filter: {done: false} | orderBy: 'description'">
    <div class="row">
      <button class='btn btn-success btn-sm' style='margin-bottom: 15px;' ng-click='update(item)' ng-model='item'>
        Done
      </button>
      <span>{{item.description}}</span>
    </div>
  </div>

  <div class="row">
    <h1> Menu Items</h1>
  </div>
  <div ng-repeat="item in items | filter: {done: true} | orderBy: 'description'">
    <div class="row">
      <button class='btn btn-success btn-sm' style='margin-bottom: 15px;' ng-click='update(item)' ng-model='item'>
        Buy
      </button>
      <span>{{item.description}}</span>
    </div>
  </div>
</div>