<div class="container" ng-controller="itemController">
  <row tite="Shopping List">
    {{title}}
  </row>
  <row>
    <input type="text"
           ng-model="newItem.description"
           name="text" id="form-item-input"
           placeholder=" < new list item >"/>
    <br>
    <button class="btn btn-primary"
            ng-click="addItem()">
            Add List Item
    </button>
  </row>

  <row>
    <h1 > Items List </h1>
    <listitems></listitems>
  </row>
  <div ng-repeat="item in items | filter: {done: false} | orderBy: 'description'"     ng-click="selectedListItem($index)" >
    <div class="row col-sm-offset-1 col-sm-8 list-item"
         ng-class-odd="'odd'"
         ng-class='{itemSelected: $index === isSelectedListRow}'>
      <button class='btn btn-warning btn-sm'
              style='margin-bottom: 15px;'
              ng-click='update(item)'
              ng-model='item'
              ng-disabled="isListItemDisabled($index)">
        Done
      </button>
      <span>{{item.description}}</span>
    </div>
  </div> <!-- end repeat  -->

  <row>
    <h1> Menu Items S</h1>
  </row>

  <div ng-repeat="item in items | filter: {done: true} | orderBy: 'description'"
       ng-click="selectedMenuItem($index)">
    <div class="row col-sm-offset-1 col-sm-8 list-item"
         ng-class-odd="'odd'"
         ng-class='{itemSelected: $index === isSelectedMenuRow}'>
      <button class='btn btn-success btn-sm'
              style='margin-bottom: 15px;'
              ng-click='update(item)'
              ng-model='item'
              ng-disabled="isMenuItemDisabled($index)">
        Buy
      </button>
      <span>{{item.description}}</span>
      <button class='btn btn-danger btn-xs'
              style='margin-bottom: 15px;'
              ng-click='delete(item)'
              ng-disabled="isMenuItemDisabled($index)">
        Delete
      </button>
    </div> <!-- end row -->
  </div> <!-- end repeat -->
</div> <!-- end controller -->
