h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}
span {
  font-size: 28px;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  padding-bottom: 40px;
}
.list-item {
  padding-top: 10px;
}
.list-item:hover {
  background-color: lightgreen;
}
#delete {
  text-decoration: none;
  margin-left: 5px;
  font-size: 18px;
}
#my-title {
  color: green;
}
#form-item-input {
  font-size: 28px;
  width: 50%;
  background-color: lightblue;
  border-radius: 10px;
}
#item-list {
  color: blue;
}
#future-items {
  color: grey;
}
#done-todo {
  text-decoration: line-through;
}
.odd {
  background-color: #ecf0f1;
}
.itemSelected {
  background-color: lightgreen;
}

